#exclude spyder project files
.spyproject/
#exclude precompiled code
qa4smreader/__pycache__/
*.pyc
#exclude plot outputs
qa4smreader/tests/test_data
qa4smreader/tests/test_results
#exclude test.py
test.py
#exclude cartopy cache
qa4smreader/cartopy/