#exclude spyder project files
.spyproject/
#exclude precompiled code
__pycache__/
*.pyc
#exclude plot outputs
test_data/out
#exclude test data
test_data
#exclude test.py
test.py
#exclude cartopy cache
cartopy/